<section>
  <h2>You are not authorized for that activity</h2>

  <div id="home-section">This site does not allow unauthorized users to fully CRUD a user account.
    <p>Click here to return to <a href='/users/#{@user.id}'>your dashboard</a>.</p>
  </div>
  <br/><br/>

</section>
