<section id="page">
  <h1>Sign-In: Listings Manager App</h1>
  <h1></h1>
  <br />
  <form class="form" action="/login" method="POST">
    <input type="email" name="user[email]" placeholder="email"><br>
    <input type="password" name="user[password]" placeholder="password"><br>
    <input type="submit" value="Sign-In" class="button" />
</form>

</section>