<h1> Create Listing</h1>
<h1>You: <%= current_user.fname %> <%= current_user.lname %></h1>
<h3>Email: <%= current_user.email %></h3>

<h2>Details:</h2>


<form class="form" action="/listings" method="POST">
  <input type="hidden" name="listing[user_id]" value="<%= current_user.id %>">
  <table width="100%" border="1" cellspacing="1" cellpadding="1">
    <tbody>
    <tr>
      <th colspan="2" scope="col">Listing Name:
        <input type="text" name="listing[address]" placeholder="address" style="width:400px;"></th>
    </tr>
    <tr>
      <th colspan="2" scope="col">Phone:
        <input type="text" name="listing[phone]" placeholder="phone" style="width:400px;"></th>
    </tr>
    <tr>
      <th colspan="2" scope="col">Community:
        <input type="text" name="listing[community]" placeholder="community" style="width:400px;"></th>
    </tr>

    <tr>
      <th colspan="2" scope="col">Asking Price:  $
        <input type="text" name="listing[asking_price]" placeholder="10000" style="width:400px;">.00</th>
    </tr>
<!--    <tr>-->
<!--      <td><label for="hoa" class="label-name">HOA</label></td>-->
<!--      <td><label for="bedrooms" class="label-name">Bedrooms</label></td>-->
<!--    </tr>-->
    <tr>
<!--      <td><input type="text" name="listing[hoa]" placeholder="hoa_id"></td>-->
      <td><input type="text" name="listing[bedrooms]" placeholder="2"> Bedrooms</td>
    </tr>
    <tr>
      <td><label for="status" class="label-name">*Dropdown Listing Status</label></td>
      <td><label for="bathrooms" class="label-name">Bathrooms</label></td>
    </tr>
    <tr>
      <td><input type="text" name="listing[status]" placeholder="status#"></td>
      <td><input type="text" name="listing[bathrooms]" placeholder="3 BA"> Baths</td>
    </tr>
    <tr>
      <td><label for="first_listed" class="label-name">*Date First Time listed</label></td>
      <td><label for="sqft" class="label-name">SQFT</label></td>
    </tr>
    <tr>
      <td><input type="tex" name="listing[first_listed]" placeholder="first_listed"></td>
      <td><input type="text" name="listing[sqft]" placeholder="3000"> SQFT</td>
    </tr>

    <td colspan="2">Summary</td>
    </tr>
    <tr>
      <td colspan="2"><textarea name="listing[summary]" value="" style="width: 525px"></textarea></td>
    </tr>
    <tr>
      <td><label for="photo_1" class="label-name">Photo 1 URL</label></td>
    </tr>
    <tr>
      <td colspan="2"><input type="text" name="listing[photo_1]" placeholder="https://loremflickr.com/320/240/homes_for_sale?random=1"/></td>
    </tr>
    <tr>
      <td><label for="photo_2" class="label-name">Photo 2 URL</label></td>
    </tr>
    <tr>
      <td colspan="2"><input type="text" name="listing[photo_2]" placeholder="https://loremflickr.com/320/240/homes_for_sale?random=2"/></td>
    </tr>
    <tr>
      <td><label for="photo_3" class="label-name">Photo 3 URL</label></td>
    </tr>
    <tr>
      <td colspan="2"><input type="text" name="listing[photo_3]" placeholder="https://loremflickr.com/320/240/homes_for_sale?random=3"/></td>
    </tr>
    <tr>
      <td><label for="photo_4" class="label-name">Photo 4 URL</label></td>
    </tr>
    <tr>
      <td colspan="2"><input type="text" name="listing[photo_4]" placeholder="https://loremflickr.com/320/240/homes_for_sale?random=4"/></td>
    </tr>

    </tbody>
  </table>

  <input type="submit" value="Create" class="button"/>
</form>