<h1>My Account</h1>
<!--<section id="page">-->
<!--  <table class="table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>ID. </th>-->
<!--      <th>Image</th>-->
<!--      <th>Listing Address</th>-->
<!--      <th>Summary</th>-->
<!--      <th>Edit</th>-->
<!--      <th>Delete</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
    <%# @listings.each do |listing| %>
<!--      <tr>-->
<!--        <td><%#= listing.id %></td>-->
<!--        <td><img src="<%#= listing.photo_1 %>" alt="" width="200" height="100"/></td>-->
<!--        <td><%#= listing.address %></td>-->
<!--        <td><%#= listing.summary %></td>-->
<!--        <td><a href='/listings/<%#= listing.id%>/edit'>Edit</a></td>-->
<!--        <td> <a href="<%#= @delete %>/listings/<%#= listing.id %> ">Delete</a></td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->
<!--  <nav>-->
<!--    <ol>-->
<!--      <li><a href="/listings">Listings Home</a></li>-->
<!--      <li><a href="/listings/new">New</a></li>-->

<!--    </ol>-->
<!--  </nav>-->
</section>