<section>
  <h2>Build02: Sinatra CMS Listings App with MySQL2</h2>

  <div id="home-section">This site was built using Ruby Sinatra, has a MySQL backend and is deployed using Passenger
    Phusion. My development environments use both Mac OS and Windows PC with Rubymine as my IDE.
  </div>
  <br/><br/>
  <div id="home-section">The project includes my goals for learning how to build my own Ruby server environment and
    serve it 'Live', and continues with my coursework in Ruby Sinatra and Rails.
  </div>
  <h2>About Flatiron School for Software Engineering</h2>
  <div id="home-section">
    <div>To learn more about the program, please visit the the
      <a href="https://flatironschool.com/career-courses/coding-bootcamp" target="_blank">Flatiron School</a> site.
    </div>
  </div>
  <h2>Project Milestones</h2>
  <table class="table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Task</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>20210301</td>
      <td>20210328</td>
      <td>In Progress: Completing Requirements for Flatirons School - Sinatra CRM + Sessions</td>
      <td><a href="https://github.com/mrsdo/sinatra_cms_assessment_builds" target="_blank">View
        Repo</a></td>
    </tr>
    <tr>
      <td></td>
      <td>20210317</td>
      <td>20210317</td>
      <td>04. Listings MVC</td>
      <td><a href="/listings" target="_blank">Listings Demo</a></td>
    </tr>
    <tr>
      <td></td>
      <td>20210317</td>
      <td>20210317</td>
      <td>03. Users MVC</td>
      <td><a href="/users" target="_blank">Users Demo</a></td>
    </tr>
    <tr>
      <td>x</td>
      <td>20210317</td>
      <td>20210317</td>
      <td>02. Roles MVC</td>
      <td><a href="/roles" target="_blank">Roles Demo</a></td>
    </tr>
    <tr>
      <td>x</td>
      <td>20210316</td>
      <td>20210316</td>
      <td>01. Setup project structure: Sinatra CRM Assessment</td>
      <td><a href="/" target="_blank">Home Page Demo</a></td>
    </tr>
    <tr>
      <td>x</td>
      <td>20210315</td>
      <td>20210315</td>
      <td>00. System: MacOS Big Sur - Installed ruby 2.7.2 with MySQL adapter and Passenger Fusion</td>
      <td>Add Google Documentation</td>
    </tr>
    </tbody>
  </table>
</section>
